<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label for="name">姓名：</label>
    <input id="name" type="text" oninput="changeValue(this)" onfocus="init(this)" v-model="data.name">
    <label for="age">年龄</label>
    <input id="age" type="text" oninput="changeValue(this)" onfocus="init(this)" v-model="data.age">
    <h3>内容展示</h3>
    <p id="text"></p>
    <script>
        let data = {
            name: "李四",
            age: 12
        };
        data = new Proxy(data,{
            set(target,property,value){
                target[property] = value;
                let input = document.querySelector(`input[v-model='data.${property}']`)
                input.value = value;
                text.innerHTML = value;
            }
        })
        function changeValue(ele) {
            let modelDate = ele.getAttribute("v-model")
            property = modelDate.split(".")[1]
            data[property] = ele.value;
        }
        function init(ele){
            let modelData = ele.getAttribute("v-model")
            property = modelData.split(".")[1]
            ele.value = data[property]
        }
    </script>
</body>
</html>